.register-page {
    width: 1198px;
    height: 580px;
    min-height: 580px;
    opacity: 1;
    display:flex;
    background-color:  #FDFCF8;
;
}   

.left-panel {
    width: 599px;
    height: 224px;
    justify-content: space-between;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
    padding-left: 40px;
    gap: 357.2200012207031;
    opacity: 1;
    background: #1A1816;

}

.right-panel {
    width: 599px;
    height: 580px;
    padding-top: 104.5px;
    padding-right: 56px;
    padding-bottom: 104.5px;
    padding-left: 56px;
    opacity: 1;
    left: 599px;
    background: #FFFFFF;
}

.skill-swap {
    font-family: font family/Font 1;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 50%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 519;

    height: 27px;
    opacity: 1px;
    color: #FFFFFF;
    
}

.trade-text {
    width: 519px;
    height: 73px;
    opacity: 1;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 120%;

    
}

.own-text {
    color: #A8A39C;
    font-family: font family/Font 1;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 519px;
    height: 16px;
    opacity: 1;
}

.register-page span {
    color: #e35d2b;
}

.sign-in {
    width: 487px;
    height: 45px;
    padding-bottom: 28px;
    opacity: 1;
}

.signin-link {
    text-decoration: underline;
    color: #e35d2b;
}
.form-group {
    width: 487px;
    height: 79px;
    padding-bottom: 18px;
    opacity: 1;
    display: flex;
    flex-direction: column;

}

input {
    width: 487px;
    height: 39px;
    border-radius: 8px;
    border-width: stroke weight/1;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
    opacity: 1;
}

.submit-button {
    width: 487px;
    height: 41px;
    border-radius: 8px;
    opacity: 1;
    padding: 12px;
    background-color: #1A1816;
    color: #FFFFFF;
}


label {
    font-size: 14px;
}

.error-text {
    margin-top: 10px;
    font-size: 15px;
}

.register span {
    text-decoration: underline;
    color:#e35d2b
}

.register {
    font-family: font family/Font 1;
    font-weight: font weight/400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}