html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* ====================
   Navbar Layout
   ==================== */


.navbar {
    height: 78px;
    background-color: #f7f3ee;
    border-bottom: 1px solid #ddd2c6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    box-shadow: 0 5px 10px rgba(90, 70, 50, 0.12);
    position: relative;
    z-index: 10;
}


.navbar-logo {
    font-size: 26px;
    font-weight: 800;
    color: #181818;
    text-decoration: none;
}


.navbar-logo span {
    color: #e95724;
}


.navbar-search {
    width: 360px;
    padding: 12px 20px;
    border: 1px solid #ddd4c8;
    border-radius: 24px;
    font-size: 15px;
    background-color: white;
}


.navbar-links {
    display: flex;
    align-items: center;
    gap: 26px;
}

.navbar-links a {
    color: #6b625b;
    text-decoration: none;
    font-weight: 500;
}

/* this shouldnt be a fix
    color right now     
} */

.navbar-avatar {
    background-color: #e95724;
    color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}